:root {
	--primary-color: #000;
	--secondary-color: #fff;
	--secondary-color-dark: rgba(151, 151, 151, 0.1);
	--tertiary-color: #e3e1dc;
	--cuaternary-color: #291507;
	--cuaternary-color-light: rgba(41, 21, 7, 0.6);
	--quinary-color: #dec68b;
	--hero-color: #050709;
	--scrollbar-track-color: #f2f2f2;
	--scrollbar-thumb-color: #bdbdbd;
	--meter-bar-color: #e0e0e0;
	--meter-bar-active-color: #544439;

	--font-primary: 'Montserrat', sans-serif;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	max-width: 1344px;
	margin-left: auto;
	margin-right: auto;
	font-family: var(--font-primary);
	color: var(--primary-color);
}

body > div:first-of-type {
	display: flex;
	flex-direction: column;
	padding-top: 0.798rem;
	padding-left: 1.125rem;
	padding-right: 1.125rem;
	min-height: 100vh;
}

@media screen and (min-width: 48rem) {
	body > div:first-of-type {
		padding-top: 1.646rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

body::-webkit-scrollbar {
	width: 0.5rem;
}

body::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track-color);
}

body::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
}

.main {
	padding-top: 1.875rem;
	padding-bottom: 6.306rem;
}
